* {
    margin: 15px;
    padding: 5px;
}

pre {
    background-color: bisque;
    
}

body {
    background-color: beige;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}
